<div class="contenedor">

  <h2 class="titulo">Formulario</h2>

  <form [formGroup]="formulario">

    <mat-form-field appearance="outline" class="full">
      <mat-label>Cliente</mat-label>
      <input matInput formControlName="cliente">
      <mat-error *ngIf="formulario.get('cliente')?.invalid">
        Campo obligatorio
      </mat-error>
    </mat-form-field>

    <div class="cart" formArrayName="productos">

      <div class="cart-header">
        <span>Producto</span>
        <span>Cantidad</span>
        <span>Precio</span>
        <span>Total</span>
        <span></span>
      </div>

      <div *ngFor="let item of productos.controls; let i = index"
           [formGroupName]="i"
           class="cart-item">

        <mat-form-field appearance="outline" class="item-product">
          <input matInput placeholder="Producto" formControlName="producto">
        </mat-form-field>

        <mat-form-field appearance="outline" class="item-qty">
          <input matInput type="number" formControlName="cantidad">
        </mat-form-field>

        <mat-form-field appearance="outline" class="item-price">
          <input matInput type="number" formControlName="precio">
        </mat-form-field>

        <div class="item-total">
          {{ calcularTotal(i) | currency }}
        </div>

        <button mat-icon-button color="warn"
                (click)="eliminarProducto(i)"
                *ngIf="productos.length > 1">
          <mat-icon>delete</mat-icon>
        </button>

      </div>

      <div class="cart-actions">
        <button mat-raised-button color="primary" type="button" (click)="agregarProducto()">
          + Agregar Producto
        </button>
      </div>

    </div>

  </form>

  <h3 class="total-general">
    Total General: {{ totalGeneral | currency }}
  </h3>
  <button mat-raised-button color="accent" type="button" (click)="confirmarCompra()">
    Confirmar y Guardar
  </button>
</div>